<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<app-new-cmp [inputData]="value"></app-new-cmp>
<div> Months :
  <select (change)="changeFunction($event)">
    <option *ngFor="let i of months">{{i}}</option>
  </select>
</div>
<br />
<div>
  <span *ngIf="isavailable; else condition1">Condition is valid.</span>
  <ng-template #condition1>Condition is invalid</ng-template>
</div>
<br />
<button (click)="clickFunction($event)">
  Click Me
</button>
<hr />
<!-- using custom directive-->
<div appCustomDir [inputDate]="value"></div>
<hr />
<!-- using pipe-->
<div>
  <div>Uppercase Pipe: {{title | uppercase}}</div>
  <div>Lowercase Pipe: {{title | lowercase}}</div>
  <div>Currency Pipe: USD: {{6589.23 | currency:"USD"}} INR: {{6589.23 | currency:"INR"}}</div>
  <div>Date pipe: {{todaydate | date:'d/M/y'}} (format: d/M/y) / {{todaydate | date:'shortTime'}} (format: shortTime)
  </div>
  <div>Decimal Pipe (111111454.733 | number: '5.2-4'): {{ 11111454.733 | number: '5.2-4' }}
    // format: minIntegerDigits.minFractionDigits-maxFractionDigits</div>
  <div>Without Json Pipe: {{ jsonval }}</div>
  <div>With Json Pipe: {{ jsonval | json }}</div>
  <div>Percent Pipe: {{00.54565 | percent}}</div>
  <div>Slice Pipe (months | slice:2:6): {{months | slice:2:6}}
    // here 2 and 6 refers to the start and the end index</div>
</div>
<!-- using custom pipe-->
<div>Displaying trimed title via custom pipe: <b>{{title | customPipe: 10}}</b></div>
<hr />
<app-new-cmp2></app-new-cmp2>
<hr />
<!-- routing -->
<nav>
  <a routerLink="/home">Home</a>
  <a routerLink="/contactus">Contact Us </a>
  <a routerLink="/settings">Setting </a>
</nav>
<router-outlet></router-outlet>
<hr />